@tailwind base;
@tailwind components;
@tailwind utilities;
@reference "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font-family: inherit !important;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
